.headerbackground {
  background-image: url("../assets/backgrounds/h_img.jpg");
  height:500px;
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
  position: relative;
}
.services{
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  image:services_icons/dev_icon.png
}
.what we do{
  background repeat:no-repeat;
  background image position: left;
  image:"services_icons/design_icon.png";
}
.what we do{
  background repeat:no repeat;
  image position:center;
  image:assets/services_icons/dev_icon;

}
