.headerbackground {
  background-image: url("../assets/backgrounds/h_img.jpg");
  height:500px;
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
  position: relative;
}
.services{
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  image:services_icons/dev_icon.png
}
.what we do{
  background-repeat:no-repeat;
  background image position: left;
  image:"services_icons/design_icon.png";
}
.what we do{
  background-repeat:no repeat;
  image position:center;
  image:assets/services_icons/dev_icon.png;

}.what we do{
  background-repeat:no repeat;
  image position:right;
  image:assets/services_icons/product_icon.png;
}
.portfolio{
  background-repeat:no repeat;
  image position:right;
  image:assets/portfolio/work1.jpg;

}
.portfolio{
  image position: left;
  image:assets/portfolio/work2.jpg
  background-repeat:no repeat;
}
.portfolio{
  image position: left;
  background-repeat: no-repeat;
  image:assets/portfolio/work3.jpg;
}
.portfolio{
  image position top left;
  background-repeat: no-repeat;
  image:assets/portfolio/work4.jpg;
}
.portfolio{
  image position:bottom left;
  background-repeat: no-repeat;
  image:assets/portfolio/work5.jpg;
}
.portfolio{
  image position:bottom right;
  background-repeat: no-repeat;
  image:assets/portfolio/work6.jpg;
}
.portfolio{
  image position:top right;
  background-repeat: no-repeat;
  image:assets/portfolio/work7.jpg;
}
.portfolio{
  image position:bottom right;
  background-repeat: no-repeat;
  image:assets/portfolio/work8.jpg;
}
.contactus{
  image position: center;
  background-repeat: no-repeat;
  image:assets/backgrounds/c_image.jpg;
}
.social icons{
  image:assets/social_icons/behance.png;
  image:assets/social_icons/dribble.png;
  image:assets/social_icons/facebook.png;
  image:assets/social_icons/flickr.png;
  image:assets/social_icons/pinterest.png;
  image:assets/social_icons/stumble_upon.png;
}
